extends layout

block content
	.container
		h1= applicant.name
		ul#applications.list-unstyled
			li Bio: #{applicant.bio}
			li skills: #{applicant.skills}
			li Years of Experience: #{applicant.years}
			li Reason: #{applicant.why}
			a(href="/applicants") Back