extends layout

block content
	.container
		h1 Applicants
		each applicant in applicants
			ul#applications.list-unstyled
				li Name: 
					a(href="/applicant/#{applicant.id}")= applicant.name
				li Bio: #{applicant.bio}
				li skills: #{applicant.skills}
				li Years of Experience: #{applicant.years}
				li Reason: #{applicant.why}
				a(href="/delete-applicant/#{applicant.id}") Delete Applicant