extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			each applicant in applicants
				li Name: #{applicant.name}
				li Bio: #{applicant.bio}
				li skills: #{applicant.skills}
				li Years of Experience: #{applicant.years}
				li Reason: #{applicant.why}